@media (max-width: 1380px) {
    .companyDescp {
        padding: 0;
    }

    .staticImg {
        width: 50%;
    }

    .textDesc {
        width: 90%;
    }

    .statistics {
        /* scale: 80%; */
        width: 350px;
        /* left: 0; */
    }

    .circle {
        width: 80px;
        height: 80px;
    }

    .k5 {
        font-size: 1.4rem;
    }

    .clientSatisfaction .text {
        font-size: 1rem;
    }

    .font29 {
        font-size: 3.5rem;
    }

    .navItems ul li {
        padding: 10px 20px;
    }

    .partnerLogos {
        flex-wrap: wrap;
    }

    .aboutContent {
        padding-right: 0;
    }
}

@media(max-width: 1200px) {
    .statistics {
        scale: 80%;
        transform: translateY(-20px);
        left: 0;
        /* width: ; */
    }

    .companyDescp {
        width: 60%;
    }

    .watchVideo {
        margin: 30px 0;
    }

    .aboutImg {
        scale: 1;
    }

    .info {
        width: 100%;
    }
}

@media(max-width: 1100px) {
    .navItems ul li a {
        font-size: 0.8rem;
    }

    .navItems ul li {
        padding: 10px 20px;
    }

    .addIcon {
        padding: 0;
    }

    .quote {
        width: 115px;
    }

    .quotebtn {
        font-size: 0.6rem;
    }

    .qoutesvg {
        width: 116px;
    }

}

@media (max-width: 1000px) {
    .navItems ul li {
        padding: 10px 15px;
    }

    .font29 {
        font-size: 2.5rem;
    }

    .font15 {
        margin-top: 15px;
    }

    .descEnd {
        /* scale: 0.7; */
        width: 100%;
        /* justify-content: space-between; */
    }

    .otherPages {
        margin-left: 70px;
        margin-right: 0;
    }

    .about {
        flex-direction: column;
        padding-left: 40px;
    }

    .aboutItems {
        width: 100%;
    }

    .aboutImg {
        margin-top: 50px;
    }
}

@media (max-width: 900px) {
    .navItems {
        position: absolute;
        /* top: 0; */
        display: block;
        left: 0;
    }

    .nonLogo {
        display: block;
    }

    .navItems ul {
        display: block;
        opacity: 0;
    }

    .frontPage {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .one {
        display: flex;
        justify-content: center;
        
    }

    .staticImg {
        width: 100%;
    }

    .statistics {
        scale: 1.2;
        left: 25%;
    }

    .companyDescp {
        /* margin-top: 30px; */
        width: auto;
        margin: 50px;
    }

    .textDesc {
        text-align: center;
    }

    .descEnd {
        /* translate: -50px; */
        justify-content: center;
        margin-top: 30px;
    }

    .getStarted .redirect p {
        font-size: 0.8rem;
        width: 150px;
    }

    .getStarted:hover {
        transform: translate(50px);
    }

    .getStarted:hover .redirectBtn {
        width: 151px;
        margin-left: -150px;
    }

    .watchVideo {
        /* translate: -80px; */
        width: 50%;
    }

    .partners {
        margin: 100px 70px;
    }

    .cardOvercover {
        width: 350px;
    }
}

@media (max-width: 800px) {

    .partnerHeader {
        font-size: 2rem;
        justify-content: center;
    }
    
    .partnerLogos {
        justify-content: space-around;
        gap: 25px;
        /* width: 200px; */
    }
    
    .partnerLogos div {
        display: flex;
        justify-content: center;
        width: 170px;
    }

    .otherPages {
        margin: 0;
    }

    .aboutText {
        font-size: 2.5rem;
    }

    .aboutSubText {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .statistics {
        scale: 1;
        left: 20%;
    }

    .companyDescp {
        margin: 0;
    }

    .partners{
        margin: 100px 0px;
    }

    .partnerHeader {
        flex-direction: column;
        text-align: center;
    }

    .otherPages {
        margin-left: 0px;
    }

    .descEnd {
        flex-direction: column;
    }

    .getStarted:hover {
        transform: translate(20px);
    }

    .watchVideo {
        width: 100%;
        flex-direction: row-reverse;
        gap: 10px;
    }
}

@media (max-width: 500px) {
    .statistics {
        scale: 0.8;
        left: 10%;
    }
}